.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.outputBox {
  margin: 0 auto;
  width: auto;
  max-width: 50%;
  height: auto;
  min-height: 50px;
  border: 1px solid rgb(184, 184, 184);
}
